<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/_head.html::head"></th:block>
</head>

<body>

 <div class="container-fluid" id="wrapper">

   <div class="row">
     <div class="col-lg-4 col-lg-offset-4" id="content">
       <h2>QUE VOULEZ VOUS FAIRE AUJOURD'HUI?</h2>

       <form th:action="@{/enregistrerlist}"
             th:method="post"
             th:object="${todolist}" role="form">
         <div class="form-group">
           <div class="input-group">
             <input th:field="*{title}" type="text" class="form-control"
                    placeholder="Entrer une tache Ex: faire un exercice.." aria-label="Todo"
                    aria-describedby="add-btn" autofocus>
             <!--<input th:field="*{content}" type="text" class="form-control"
                    placeholder="Entrer une description Ex: faire un exercice de.." aria-label="Todo"
                    aria-describedby="add-btn" autofocus>-->

             <input th:field="*{status}" type="text" class="form-control"
                    placeholder="Entrer un status Ex: URGENT,NOW.." aria-label="Todo"
                    aria-describedby="add-btn" autofocus>

             <button type="submit" class="btn btn-default" id="add-btn">AJOUTER</button>

           </div>
         </div>
       </form>
     </div>
   </div>
 </div>



<!-- ======= Footer ======= -->


 <th:block th:replace="fragments/_js.html::js"></th:block>
</body>

</html>